<!DOCTYPE html>
<html lang="en-Us" class="js">
<head>
	<meta charset="utf-8">
<meta name="author" content="Softnio">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<!-- Fav Icon  -->
<link rel="shortcut icon" href="images/favicon2.png">
<!-- Site Title  -->
<title>TBLC- Trade TBLC Now</title>
<!-- Bundle and Base CSS -->
<link rel="stylesheet" href="assets/css/vendor.bundle.css?ver=192">
<link rel="stylesheet" href="assets/css/style.css?ver=192" id="changeTheme">
<!-- Extra CSS -->
<link rel="stylesheet" href="assets/css/theme.css?ver=192">
</head>


    <body class="nk-body body-wider bg-light mode-onepage">
	<div class="nk-wrap">
		<header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
		    <!-- Header @s -->
			<div class="header-main">
				<div class="header-container container">
					<div class="header-wrap">
						<!-- Logo @s -->
						<div class="header-logo logo animated" data-animate="fadeInDown" data-delay=".6">
							<a href="./" class="logo-link">
								<img class="logo-dark" src="images/logo-full-white.png" srcset="images/logo-full-white.png" alt="logo">
								<img class="logo-light" src="images/logo-full-white.png" srcset="images/logo-full-white.png" alt="logo">
							</a>
						</div>

						<!-- Menu Toogle @s -->
						<div class="header-nav-toggle">
							<a href="#" class="navbar-toggle" data-menu-toggle="header-menu">
                                <div class="toggle-line">
                                    <span></span>
                                </div>
                            </a>
						</div>

						<!-- Menu @s -->
						<div class="header-navbar animated" data-animate="fadeInDown" data-delay=".75">
							<nav class="header-menu" id="header-menu">
								<ul class="menu">
									<li class="menu-item"><a class="menu-link nav-link" href="#header">Home</a></li>
									<li class="menu-item"><a class="menu-link nav-link" href="#features">Features</a></li>
									<li class="menu-item"><a class="menu-link nav-link" href="#tokensale">Token Sale</a></li>
									<li class="menu-item"><a class="menu-link nav-link" href="#roadmap">Roadmap</a></li>
									<li class="menu-item has-sub">
										<a class="menu-link nav-link menu-toggle" href="#">More</a>
										<ul class="menu-sub menu-drop">
											<li class="menu-item"><a class="menu-link nav-link" href="#team">Team</a></li>
                                            <li class="menu-item"><a class="menu-link nav-link" href="#faq">Faq</a></li>
										</ul>
									</li>
									<li class="menu-item"><a class="menu-link nav-link" href="#contact">Contact</a></li>
								</ul>
								<ul class="menu-btns">
									<li><a onclick="alert('coming soon!')" href="#"  class="btn btn-md btn-auto btn-grad no-change"><span>Login</span></a></li>
								</ul>
							</nav>
						</div><!-- .header-navbar @e -->
					</div>                                                
				</div>
			</div><!-- .header-main @e -->

			<!-- Banner @s -->
			<div class="header-banner bg-theme-grad">
				<div class="nk-banner">
				    <div class="banner banner-fs banner-single banner-gap-b2">
				        <div class="banner-wrap">
                            <div class="container">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-lg-5 order-lg-last">
                                        <div class="banner-gfx banner-gfx-re-s1 animated" data-animate="fadeInUp" data-delay=".9">
                                            <img src="images/header/gfx-a.png" alt="header">
                                        </div>
                                    </div><!-- .col -->
                                    <div class="col-lg-7 col-sm-10 text-center text-lg-left">
                                        <div class="banner-caption cpn tc-light">
                                            <div class="cpn-head">
                                                <h1 class="title animated" data-animate="fadeInUp" data-delay="1">First token on BNB blockchain that simulates a decentralized exchange</h1>
                                            </div>
                                            <div class="cpn-text">
                                                <p class="animated" data-animate="fadeInUp" data-delay="1.1">TBLC is designed to create a real world use case for  digital assets and to provide access to funding all over the world.</p>
                                            </div>
                                            <div class="cpn-action">
                                                <div class="cpn-btns animated" data-animate="fadeInUp" data-delay="1.2">
                                                    <a class="btn btn-grad" onClick="alert('Thankyou for your interest! Please stay tuned. TBLC token sale is going to launch shortly.')" href="#">Register &amp; Buy Token Now</a>
                                                </div>
                                                <ul class="cpn-links animated" data-animate="fadeInUp" data-delay="1.3">
                                                    <li><a class="link" href="tblc-paper.pdf"><em class="link-icon fas fa-file-alt"></em><span>White Paper</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                </div><!-- .row -->
                            </div>
                        </div>
				    </div>
				</div><!-- .nk-banner -->
				<div class="nk-ovm mask-a shape-a"></div>
				
				<!-- Place Particle Js -->
				<div id="particles-bg" class="particles-container particles-bg"></div>
			</div>
			<!-- .header-banner @e -->
		</header>
    
        <main class="nk-pages">
           
            <!-- // -->
            <section class="section bg-light section-about" id="about">

                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-about">
                        <div class="row gutter-vr-30px align-items-center pdb-l">
                            <div class="col-lg-6">
                                <div class="nk-block-text">
                                    <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">About TBLC Coin</h2>
                                    <p class="animated" data-animate="fadeInUp" data-delay=".2"><strong>TBLC is the first decentralized asset on top of </strong>BNB blockchain.</p>
                                    <p class="animated" data-animate="fadeInUp" data-delay=".3">Price of TBLC grows with a certain mathematical computation algorithm which is fully decentralized and is integrated on the blockchain. Once deployed on the blockchain the pricing mechanism is controlled automatically by the BNB virtual Machine </p>
                                    <p class="animated" data-animate="fadeInUp" data-delay=".4">Users can buy and sell their TBLC on the tblcexchange.com a system designed to expedite and simplify the process of trading TBLC digital assets.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="nk-block-video animated" data-animate="fadeInUp" data-delay=".5">
                                    <video controls width="350">

                                      
                                    
                                        <source src="tblc.mp4"
                                                type="video/mp4">
                                    
                                        Sorry, your browser doesn't support embedded videos.
                                    </video>
                                    <!--a href="https://www.youtube.com/watch?v=SSo_EIwHSd4" class="nk-block-video-play video-popup btn-play btn-play-light"><em class="fas fa-play"></em></a-->
                                </div>
                            </div>
                        </div>
                    </div><!-- .block @e -->
                    <!-- Section Head @s -->
                    <div class="section-head">
                        <h2 class="title title-lg animated" data-animate="fadeInUp" data-delay=".6">Key features of TBLC</h2>
                    </div><!-- .section-head @e -->
                    <!-- Block @s -->
                    <div class="nk-block nk-block-features mgb-m30">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="feature animated" data-animate="fadeInUp" data-delay=".7">
                                    <div class="feature-icon dot">
                                        <em class="icon ikon ikon-paricle-alt"></em>
                                    </div>
                                    <div class="feature-text">
                                        <h5 class="title title-sm">Fully decentralized asset on top of BNB blockchain</h5>
                                        <p>TBLC is proud to announce the platform as the first crypto asset that is deployed on BNB blockchain that simulates decentralized exchange.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="feature animated" data-animate="fadeInUp" data-delay=".8">
                                    <div class="feature-icon dot">
                                        <em class="icon ikon ikon-donught"></em>
                                    </div>
                                    <div class="feature-text">
                                        <h5 class="title title-sm">Buy and sell TBLC immediately with BNB</h5>
                                        <p>World's first Asset that can be traded with BNB immediately. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="feature animated" data-animate="fadeInUp" data-delay=".9">
                                    <div class="feature-icon dot">
                                        <em class="icon ikon ikon-document"></em>
                                    </div>
                                    <div class="feature-text">
                                        <h5 class="title title-sm"> completely Anonymous and decentralized</h5>
                                        <p> No-one even TBLC owners does not have any control over BNB. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .block @s -->
                </div>

            </section>
            <!-- // -->
            <section class="section section-features bg-white" id="features">

                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-features-s2">
                        <div class="row align-items-center flex-row-reverse">
                            <div class="col-lg-5">
                                <div class="gfx py-4 animated" data-animate="fadeInUp" data-delay=".1">
                                    <img src="images/gfx/gfx-a.png" alt="gfx">
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-7">
                                <!-- Section Head @s -->
                                <div class="section-head">
                                    <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">Why Choose TBLC?</h2>
                                    <p class="animated" data-animate="fadeInUp" data-delay=".3">TBLC is a new breakthrough project for the BNB community. It is a pioneer which opens the doors for the BNB users to grow their assets and do more with their BNB.  </p>
                                </div><!-- .section-head @e -->
                                <div class="features-list mr-4 mgb-m30">
                                    <div class="feature feature-s2 animated" data-animate="fadeInUp" data-delay=".4">
                                        <div class="feature-icon dot">
                                            <em class="icon ikon ikon-shiled-alt"></em>
                                        </div>
                                        <div class="feature-text">
                                            <h5 class="title title-sm">A new era of BNB</h5>
                                            <p> We are proud to be the pioneers to bringing up more use cases for BNB blockchain. TBLC is a simulation for decentralized exchange with price mechanisms pre-set in the smart contract.</p>
                                        </div>
                                    </div>
                                    <div class="feature feature-s2 animated" data-animate="fadeInUp" data-delay=".5">
                                        <div class="feature-icon dot">
                                            <em class="icon ikon ikon-user"></em>
                                        </div>
                                        <div class="feature-text">
                                            <h5 class="title title-sm">Buy and Sell Immediately through BNB wallets</h5>
                                            <p>All the currently supported and upcoming wallet application brought up by BNB will be supported by TBLC platform as well. That ensures that your assets are completely secure and you and only you control your assets. </p>
                                        </div>
                                    </div>
                                    <div class="feature feature-s2 animated" data-animate="fadeInUp" data-delay=".6">
                                        <div class="feature-icon dot">
                                            <em class="icon ikon ikon-data-server"></em>
                                        </div>
                                        <div class="feature-text">
                                            <h5 class="title title-sm"> Proven security.</h5>
                                            <p>You can trade &amp; and buy TBLC tokens with any of the decentralized wallet systems supported by BNB blockchain and at the same time rest assured that the security infrastructure has been built on the industry standards and best practices. </p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>

            </section>
            <!-- // -->
            <section class="section section-problem bg-light" id="problem">

                <div class="container">
                    <!-- Section Head @s -->
                    <div class="section-head text-center wide-auto-sm">
                        <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">Problem and Challenge</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".2">What are the current problems in the blockchain industry and why we choose BNB blockchain to deploy BNB? Read ahead</p>
                    </div><!-- .section-head @e -->
                    <!-- Block @s -->
                    <div class="nk-block nk-block-problems tc-light">
                        <div class="row no-gutters align-items-center">
                            <div class="col-lg-6">
                                <div class="feature boxed boxed-lg bg-theme no-mg split-lg-left split-left animated" data-animate="fadeInUp" data-delay=".3">
                                    <h4 class="title title-md">TBLC and BNB, what is the story?</h4>
                                    <p>The current DeFi ecosystems revolves around tokenoconomy created around the ethereum blockchain. However, the platforms suffers from major issues to-date</p>
                                    <ul class="list list-dot">
                                        <li>High fees! Ethereum is notorious for high fees, with latest hikes in crypto prices, the holders benefit while users suffers as they have to pay a lot more for simple transactions or running functions on top of the ethereum blockchain.</li>
                                        <li>Low scalability! There have been a lot of efforts in the past including the beacon chain but there are still a lot of issues that need to be addressed.  </li>
                                        <li></li>
                                        <li>the Ethereum network is capable to only handle about a few transactions per second which are still relatively slow. The team is working non-stop to solve this problem and increase the transaction speed and capacity.

                                        </li>
                                    </ul>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-6">
                                <div class="feature-group bg-theme-alt split-right split-lg animated" data-animate="fadeInUp" data-delay=".4">
                                    <div class="feature boxed bg-white-10">
                                        <div class="feature-text">
                                            <h4 class="title title-md">High transfer fees</h4>
                                            <p>Ethereum transaction fees have soared to new all-time highs for the second time in three weeks, according to on-chain data analyzed by CoinDesk.
                                                .</p>
                                        </div>
                                    </div>
                                    <div class="feature boxed bg-white-2">
                                        <div class="feature-text">
                                            <h4 class="title title-md">Downwards pressure on underlying Assets</h4>
                                            <p>Requiring every token transaction to also depend on ethereum for fees creates substantial risk, third party dependency, and artificial downwards pressure on the price of the underlying token (if one must sell token for ethereum ahead of time to run a token transaction, then the sell-pressure will happen before the transaction requires it, and must be a larger sale than necessary to ensure sufficient funds to cover the transaction).

                                                .</p>
                                        </div>
                                    </div>
                                    <div class="feature boxed bg-black-10">
                                        <div class="feature-text">
                                            <h4 class="title title-md">Lack of mass adoption</h4>
                                            <p>High pricing of current blockchain platform asset tokens have kept them out of the reach of the common masses and low funding startups.In such scenario TBLC together with BNB  provides a great alternative for such aspirants and is essentially filling a market gap.</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>

            </section>
            <!-- // -->
            <section class="section section-solution bg-light pt-0" id="solution">

                <div class="container">
                    <!-- Section Head @s -->
                    <div class="section-head text-center wide-auto-sm">
                        <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">How TBLC revolutionize the BNB platforms. </h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".2">TBLC opens up a new horizon for BNB users to work and deploy decentralized applications on the top of BNB blockchain.</p>
                    </div><!-- .section-head @e -->
                    <!-- Block @s -->
                    <div class="nk-block nk-block-features-s3">
                        <div class="row gutter-vr-40px justify-content-center">
                            <div class="col-lg-6 col-md-10">
                                <div class="feature feature-s3 feature-center animated" data-animate="fadeInUp" data-delay=".3">
                                    <div class="feature-icon feature-icon-lg">
                                        <em class="icon icon-lg ikon ikon-cloud"></em>
                                    </div>
                                    <div class="feature-text">
                                        <h4 class="title title-md title-dark">Inbuilt pricing mechanism to control pricing.</h4>
                                        <p>The automated pricing algorithm of the open-source TBLC token will help asset owners to earn profit by publicizing the platform. The price increases as the demand of tokens increase. </p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-6 col-md-10">
                                <div class="feature feature-s3 feature-center animated" data-animate="fadeInUp" data-delay=".4">
                                    <div class="feature-icon feature-icon-lg">
                                        <em class="icon icon-lg ikon ikon-safety"></em>
                                    </div>
                                    <div class="feature-text">
                                        <h4 class="title title-md title-dark">Be Safe and Secure!</h4>
                                        <p>All these benefits come with no compromise on security. we deploy proven security standards matching the popular blockchain systems.</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-6 col-md-10">
                                <div class="feature feature-s3 feature-center animated" data-animate="fadeInUp" data-delay=".5">
                                    <div class="feature-icon feature-icon-lg">
                                        <em class="icon icon-lg ikon ikon-cash"></em>
                                    </div>
                                    <div class="feature-text">
                                        <h4 class="title title-md title-dark"> Completely decentralized</h4>
                                        <p>TBLC source code is completely decentralized. Controlled by no-one, the BNB virtual machine is the proof of the algorithms that run behind. </p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-6 col-md-10">
                                <div class="feature feature-s3 feature-center animated" data-animate="fadeInUp" data-delay=".6">
                                    <div class="feature-icon feature-icon-lg">
                                        <em class="icon icon-lg ikon ikon-globe"></em>
                                    </div>
                                    <div class="feature-text">
                                        <h4 class="title title-md title-dark">Open source code base.</h4>
                                        <p>All source code of TBLC crypto platform is completely public on BNB blockchain. Anyone can see and verify what the platform claims to be. This is how the trustless nature of TBLC is creating trust!</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>

            </section>
            <!-- // -->
            
            <!-- // -->
            <section class="bg-theme bg-pattern-dots" id="tokensale">

                <div class="section section-tokensale tc-light">

                    <div class="container">
                        <!-- Section Head @s -->
                        <div class="section-head text-center wide-auto">
                            <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">TBLC Tokens</h2>
                            <p class="animated" data-animate="fadeInUp" data-delay=".2">TBLC Tokens are created with a realworld use case on top of the BNB blockchain network.</p>
                        </div><!-- .section-head @e -->
                        <!-- Block @s -->
                        <div class="nk-block nk-block-token mgb-m30">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="token-info bg-theme animated" data-animate="fadeInUp" data-delay=".3">
                                        <h4 class="title title-md mb-2 text-sm-center">Sales Information</h4>
                                        <table class="table table-token">
                                            <tbody>
                                                <tr>
                                                    <td class="table-head">Public Sale Starts</td>
                                                    <td class="table-des">31st January 2021 12:00 GMT</td>
                                                </tr>
                                                <tr>
                                                    <td class="table-head">Public Sale Ends</td>
                                                    <td class="table-des">20 March 2021 12:00 GMT</td>
                                                </tr>
                                                <tr>
                                                    <td class="table-head">Total Token Supply</td>
                                                    <td class="table-des">21,000,000</td>
                                                </tr>
                                                <tr>
                                                    <td class="table-head">Tokens Allocated for Pre Sale</td>
                                                    <td class="table-des">150,000,000</td>
                                                </tr>
                                                <tr>
                                                    <td class="table-head">Hard Cap</td>
                                                    <td class="table-des">15000</td>
                                                </tr>
                                                <tr>
                                                    <td class="table-head">Soft Cap</td>
                                                    <td class="table-des">1500</td>
                                                </tr>
                                                <tr>
                                                    <td class="table-head">Token Value</td>
                                                    <td class="table-des">1 TBLC = 20 BNB</td>
                                                </tr>
                                                <tr>
                                                    <td class="table-head">Accepted</td>
                                                    <td class="table-des">BNB</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-lg-5">
                                    <div class="animated" data-animate="fadeInUp" data-delay=".4">
                                        <div class="token-status bg-theme">
                                            <h4 class="title title-md">Token Sale Stage End In</h4>
                                            <div class="token-countdown countdown" data-date="2020/03/15"></div>
                                            <div class="progress-wrap progress-wrap-point">
                                                <span class="progress-info">Raised so far <span>$0</span></span>
                                                <div class="progress-bar">
                                                    <div class="progress-percent bg-grad" data-percent="0"></div>
                                                    <div class="progress-point progress-point-1">Soft Cap <span>1500 TBLC</span></div>
                                                    <div class="progress-point progress-point-2">Hard Cap <span>15000 TBLC</span></div>
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-grad">Register &amp; Buy Token Now</a>
                                            <span class="token-min">Minimum Purchase: 200 TBLC</span>
                                        </div>
                                        <div class="bonus bg-theme">
                                            <div class="bonus-info">
                                                <div class="bonus-percent">20% <small>Bonus</small></div>
                                                <div class="bonus-date">End at 30 January, 2021</div>
                                                <span class="bonus-badge badge-xs">Now</span>
                                            </div>
                                            <div class="bonus-info">
                                                <div class="bonus-percent">5%<small>Bonus</small></div>
                                                <div class="bonus-date">Ends at 05 Feb, 2021</div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .block @e -->
                    </div>

                </div><!-- .section-tokensale -->

                <div class="section-tokendes">

                    <div class="container">
                        <!-- Block @s -->
                        <div class="nk-block nk-block-alocation mgb-m30">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="token-alocate-item animated" data-animate="fadeInUp" data-delay=".1">
                                        <div class="token-alocate-graph">
                                            <span>Token <br> Allocation</span>
                                            <canvas class="chart-canvas" id="token-alocate"></canvas>
                                        </div>
                                        <ul class="chart-data" data-canvas="token-alocate" data-canvas-type="doughnut">
                                            <li data-color="#223fa8" data-title="Token Sale Program" data-amount="60"></li>
                                            <li data-color="#8fa0df" data-title="Reserve Fund" data-amount="8"></li>
                                            <li data-color="#4aa0f6" data-title="Team and Founders" data-amount="15"></li>
                                            <li data-color="#6ad9ac" data-title="Board Advisors" data-amount="4"></li>
                                            <li data-color="#4d6fe9" data-title="Ecosystem Development" data-amount="7"></li>
                                            <li data-color="#15216d" data-title="Marketing and Bounty" data-amount="6"></li>
                                        </ul>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-lg-6">
                                    <div class="token-alocate-item animated" data-animate="fadeInUp" data-delay=".2">
                                        <div class="token-alocate-graph">
                                            <span>Funds <br> Allocation</span>
                                            <canvas class="chart-canvas" id="fund-alocate"></canvas>
                                        </div>
                                        <ul class="chart-data" data-canvas="fund-alocate" data-canvas-type="doughnut">
                                            <li data-color="#15216d" data-title="Engineering and Development" data-amount="40"></li>
                                            <li data-color="#4aa0f6" data-title="Business Development" data-amount="12"></li>
                                            <li data-color="#223fa8" data-title="Marketing &amp; Promotion" data-amount="20"></li>
                                            <li data-color="#72a3f4" data-title="Legal &amp; Regulation" data-amount="10"></li>
                                            <li data-color="#6ad9ac" data-title="Operational &amp; Administration" data-amount="8"></li>
                                            <li data-color="#8fa0df" data-title="Contingency" data-amount="4"></li>
                                            <li data-color="#4d6fe9" data-title="Partners" data-amount="6"></li>
                                        </ul>
                                    </div>
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .block @e -->
                    </div>

                    <div class="nk-ovm ovm-bottom ovm-h-70 bg-light"></div><!-- .nk-ovm -->
                </div><!-- .section-tokendes -->
            </section>
            <!-- // -->
            <section class="section bg-light section-document" id="documents">

                <div class="container">
                    <!-- Section Head @s -->
                    <div class="section-head text-center wide-auto">
                        <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">TBLC Tokens</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".2">Our Tokens with a realworld use case created on the blockchain network.</p>
                    </div><!-- .section-head @e -->
                    <!-- Block @s -->
                    <div class="nk-block nk-block-document">
                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                <div class="card card-lg animated" data-animate="fadeInUp" data-delay=".3">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <div class="nk-block-img px-4 pb-4 pb-md-0">
                                                <img src="images/tblcw.png" alt="doc">
                                            </div>
                                        </div><!-- .col -->
                                        <div class="col-md-6">
                                            <div class="nk-block-text">
                                                <h4 class="title title-md">Read the Whitepaper</h4>
                                                <p>Download TBLC whitepaper to read in detail about the TBLC coin, its use cases and how it transforms the BNB eco-system by opening up new horizons for BNB users by deploying a smart contract on top of BNB blockchain. </p>
                                                <ul class="btn-grp gutter-30px gutter-vr-20px">
                                                    <li><a href="tblc-paper.pdf" class="btn btn-grad">Download White paper</a></li>
                                                    <li><a href="ppt.pdf" class="link"><em class="link-icon fas fa-file-alt"></em> TBLC Presentation</a></li>
                                                </ul>
                                            </div>
                                        </div><!-- .col -->
                                    </div><!-- .row -->
                                </div><!-- .box -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>

            </section>
            <!-- // -->
            <section class="section section-wallet bg-white" id="app-download">

                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-text-wrap">
                        <div class="row align-items-center justify-content-center flex-row-reverse">
                            <div class="col-lg-7 mb-4 mb-lg-0">
                                <div class="nk-block-img bg-pattern-dots-color">
                                    <div class="app-slide-wrap animated" data-animate="fadeInUp" data-delay=".1">
                                        <div class="app-slide">
                                            <img src="images/app-screens/a.jpg" alt="App Screen">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-10 text-center text-lg-left">
                                <div class="nk-block-text">
                                    <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">Our Powerful <br class="d-none d-md-block"> All-In-One Wallets</h2>
                                    <p class="animated" data-animate="fadeInUp" data-delay=".2">TBLC is going to support the upcoming wallets by BNB platform including the chrome  extension and cross platform apps. Buying and selling of TBLC is possible from tblcexchange.com. It will support all upcoming wallets that BNB blockchain system is going to bring in the future. </p>
                                    <div class="pdt-m animated" data-animate="fadeInUp" data-delay=".3">
                                        <a href="#" class="btn btn-grad">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .block @e -->
                </div>

            </section>
            <!-- // -->
            <section class="section section-wallet-bottom bg-white pdt-0" id="wallet">

                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-text-grp mgb-m30">
                        <h6 class="title title-xs tc-primary pdb-s animated" data-animate="fadeInUp" data-delay=".4">Why Use BNB Wallet?</h6>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="feature feature-s5 animated" data-animate="fadeInUp" data-delay=".5">
                                    <h4 class="title title-md">Safe &amp; Secure</h4>
                                    <p>Extensions, apps and web platforms for BNB wallets are all built with the same level of security of the current popular blockchain systems.  </p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="feature feature-s5 animated" data-animate="fadeInUp" data-delay=".6">
                                    <h4 class="title title-md">Universal and Interactive</h4>
                                    <p>BNB Wallet chrome extension will support interacting with smart contracts through web3. Transactions and calling contract codes is possible from right within your browser.  </p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="feature feature-s5 animated" data-animate="fadeInUp" data-delay=".7">
                                    <h4 class="title title-md"> Easily Send and Receive</h4>
                                    <p>Inbuilt Send and receive functions for users who want a simple transaction facility from the walelts. </p>
                                </div>
                            </div>
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>

            </section>
            <!-- // -->
            <section class="section tc-light bg-theme-grad" id="admin-intro">

                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-text-wrap">
                        <div class="row align-items-center">
                            <div class="col-lg-7 order-lg-last">
                                <div class="nk-block-img edge-r1 pb-4 pb-lg-0 animated" data-animate="fadeInUp" data-delay=".1">
                                    <img src="images/app-screens/laptop-a.png" alt="app">
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="nk-block-text">
                                    <h6 class="title title-xs tc-primary animated" data-animate="fadeInUp" data-delay=".1">TBLC Admin Dashboard</h6>
                                    <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">Introducing Complete Admin Dashboard</h2>
                                    <p class="animated" data-animate="fadeInUp" data-delay=".3">We designed the TBLC Admin panel to manage and track your transactions and staking on TBLC Platform. Buy, sell, stake, or unstake your transactions immediately</p>
                                    <ul class="list list-check animated" data-animate="fadeInUp" data-delay=".4">
                                        <li>Buy TBLC with BNB.</li>
                                        <li>Sell TBLC immediately.</li>
                                        <li>One click staking your TBLC immediately.</li>
                                        <li>Earn referral income by sharing your link.</li>
                                        <li>See list of your past interactions with the contract and transactions record with the TBLC system.</li>                                    </ul>
                                </div>
                            </div>
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>

            </section>
            <!-- // -->
            <section class="section section-roadmap bg-white" id="roadmap">

                <div class="container">
                    <!-- Section Head @s -->
                    <div class="section-head text-center wide-auto">
                        <h6 class="title title-xs title-light animated" data-animate="fadeInUp" data-delay=".1">The roadmap to success</h6>
                        <h2 class="title title-lg title-dark animated" data-animate="fadeInUp" data-delay=".2">What are our major goals?</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".3">Our market strategy will prioritise blockchain technology rollout to utilities based on their transformation. View our roadmap to see how exactly we are making that happen. </p>
                    </div><!-- .section-head @e -->
                    <!-- Block @s -->
                    <div class="nk-block nk-block-roadmap">
                        <div class="row justify-content-center">
                            <div class="col-xl-10">
                                <div class="roadmap-wrap">
                                    <div class="roadmap-line"></div>
                                    <div class="roadmap animated" data-animate="fadeInUp" data-delay=".4">
                                        <div class="roadmap-year">Q1 2020</div>
                                    </div>
                                    <div class="roadmap roadmap-right roadmap-finished animated" data-animate="fadeInUp" data-delay=".5">
                                        <div class="roadmap-step">
                                            <div class="roadmap-head">
                                                <span class="roadmap-time">Q2 2020</span>
                                                <span class="roadmap-title">Development of DeFi Platform for TBLC</span>
                                            </div>
                                            <p>TBLC is going to bring a new DeFi system where users will be able to lend their crypto assets and earn reward on it.</p>
                                        </div>
                                    </div>
                                    <div class="roadmap roadmap-left roadmap-finished animated" data-animate="fadeInUp" data-delay=".6">
                                        <div class="roadmap-step">
                                            <div class="roadmap-head">
                                                <span class="roadmap-time">Q3 &amp; Q4 2020</span>
                                                <span class="roadmap-title">Website and Whitepaper</span>
                                            </div>
                                            <ul class="list list-dot">
                                                <li>MVP of wallet prototype released</li>
                                                <li>Pre-Sale of TBLC Starts</li>
                                                <li>Redesign of website goes live</li>
                                                <li>Version 2 of Whitepaper will be released</li>
                                                <li>Version 3 of Onepager will be released</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="roadmap animated" data-animate="fadeInUp" data-delay=".4">
                                        <div class="roadmap-year">2019</div>
                                    </div>
                                    <div class="roadmap roadmap-right animated" data-animate="fadeInUp" data-delay=".5">
                                        <div class="roadmap-step">
                                            <div class="roadmap-head">
                                                <span class="roadmap-time">Q1 2021</span>
                                                <span class="roadmap-title">Public Token Sale Begins</span>
                                            </div>
                                            <p>Public TBLC launch and crowd-sale starts - 5th Januray &amp; Token distribution will commence - 2nd March.</p>
                                        </div>
                                    </div>
                                    <div class="roadmap roadmap-left animated" data-animate="fadeInUp" data-delay=".6">
                                        <div class="roadmap-step">
                                            <div class="roadmap-head">
                                                <span class="roadmap-time">Q2 2021</span>
                                                <span class="roadmap-title">Decentralized Exchange User Testing</span>
                                            </div>
                                            <p>Release of decentralized exchange platform for beta testing for BNB/TBLC community members</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                        <div class="text-center animated" data-animate="fadeInUp" data-delay=".4">
                            <a href="#" class="btn btn-grad">Read the TBLC White Paper</a>
                        </div>
                    </div>
                    <!-- Block @e -->
                </div>

            </section>
            <!-- // -->
            <!-- // -->
            <section class="section section-faq bg-white" id="faq">
                
                <div class="container">
                    <!-- Section Head @s -->
                    <div class="section-head text-center wide-auto">
                        <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">FAQs</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".2">Below weve provided basic questions about TBLC, TBLC Token, TBLC exchange platform, and BNB. If you have any other questions, please get in touch via email : info@tblcexchange.com</p>
                    </div><!-- .section-head @e -->
                    <!-- Block @s -->
                    <div class="nk-block block-faq">
                        <div class="row">
                            <!-- <div class="col-md-4 col-lg-3 mb-4 mb-lg-0">
                                <ul class="nav tab-nav tab-nav-vr tab-nav-bdr mr-lg-3 animated" data-animate="fadeInUp" data-delay=".3">
                                    <li><a class="active" data-toggle="tab" href="#general-questions"><em class="fas fa-caret-right"></em>General Questions</a></li>
                                    <li><a data-toggle="tab" href="#ico-questions"><em class="fas fa-caret-right"></em>TBLC Questions</a></li>
                                    <li><a data-toggle="tab" href="#tokens-sales"><em class="fas fa-caret-right"></em>Tokens Sales</a></li>
                                    <li><a data-toggle="tab" href="#clients-releted"><em class="fas fa-caret-right"></em>Clients Releted</a></li>
                                </ul>
                            </div>.col -->
                            <div class="col-md-12 col-lg-12">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="general-questions">
                                        <div class="accordion accordion-faq" id="faq-1">
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".1">
                                                <h5 class="accordion-title accordion-title-sm" data-toggle="collapse" data-target="#faq-1-1">What is TBLC? Is it decentralized? <span class="accordion-icon"></span></h5>
                                                <div id="faq-1-1" class="collapse show" data-parent="#faq-1">
                                                    <div class="accordion-content">
                                                        <p>TBLC is a decentralized exchange platform for TBLC tokens.The smart contract is deployed on top of BNB blockchain.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".2">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-1-2">What cryptocurrencies can I use to purchase? <span class="accordion-icon"></span></h5>
                                                <div id="faq-1-2" class="collapse" data-parent="#faq-1">
                                                    <div class="accordion-content">
                                                        <p>You can use BNB to purchase TBLC tokens</p>
                                                    </div>
                                                </div>
                                            </div>
                                         
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".3">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-1-3">How can I participate in the TBLC Token sale? <span class="accordion-icon"></span></h5>
                                                <div id="faq-1-3" class="collapse" data-parent="#faq-1">
                                                    <div class="accordion-content">
                                                        <p>You can buy BNB from mercatox.com (preferrably) or any other exchange and buy TBLC by visiting tblcexchange.com. BNB chrome extension will be availble soon to help you buy TBLC easily from within your browser.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".4">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-1-4">How do I benefit from the TBLC Token? <span class="accordion-icon"></span></h5>
                                                <div id="faq-1-4" class="collapse" data-parent="#faq-1">
                                                    <div class="accordion-content">
                                                        <p>TBLC has an inbuilt price mechanism designed to benefit its users in multiple ways. The price automatically grows when you buy TBLC. Also, you can earn by staking your TBLC </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".2">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-1-5">Where can I learn more about BNB ? <span class="accordion-icon"></span></h5>
                                                <div id="faq-1-5" class="collapse" data-parent="#faq-1">
                                                    <div class="accordion-content">
                                                        <p>Please visit tccworld.org</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="tab-pane fade" id="ico-questions">
                                        <div class="accordion accordion-faq" id="faq-2">
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".1">
                                                <h5 class="accordion-title accordion-title-sm" data-toggle="collapse" data-target="#faq-2-1">Which of us ever undertakes laborious?<span class="accordion-icon"></span></h5>
                                                <div id="faq-2-1" class="collapse show" data-parent="#faq-2">
                                                    <div class="accordion-content">
                                                        <div class="accordion-content">
                                                            <p>Once TBLC period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".2">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-2-2">Who do not know how to pursue rationally?<span class="accordion-icon"></span></h5>
                                                <div id="faq-2-2" class="collapse" data-parent="#faq-2">
                                                    <div class="accordion-content">
                                                        <p>Once TBLC period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".3">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-2-3">Their separate existence is a myth?<span class="accordion-icon"></span></h5>
                                                <div id="faq-2-3" class="collapse" data-parent="#faq-2">
                                                    <div class="accordion-content">
                                                        <p>Once TBLC period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".4">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-2-4">Pityful a rethoric question ran over her cheek?<span class="accordion-icon"></span></h5>
                                                <div id="faq-2-4" class="collapse" data-parent="#faq-2">
                                                    <div class="accordion-content">
                                                        <p>Once TBLC period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tokens-sales">
                                        <div class="accordion accordion-faq" id="faq-3">
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".1">
                                                <h5 class="accordion-title accordion-title-sm" data-toggle="collapse" data-target="#faq-3-1">When she reached the first hills?<span class="accordion-icon"></span></h5>
                                                <div id="faq-3-1" class="collapse show" data-parent="#faq-3">
                                                    <div class="accordion-content">
                                                        <p>Once TBLC period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".2">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-3-2">Big Oxmox advised her not to do?<span class="accordion-icon"></span></h5>
                                                <div id="faq-3-2" class="collapse" data-parent="#faq-3">
                                                    <div class="accordion-content">
                                                        <p>Once TBLC period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".3">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-3-3">Which roasted parts of sentences fly into your mouth?<span class="accordion-icon"></span></h5>
                                                <div id="faq-3-3" class="collapse" data-parent="#faq-3">
                                                    <div class="accordion-content">
                                                        <p>Once TBLC period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".4">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-3-4">Vokalia and Consonantia, there live?<span class="accordion-icon"></span></h5>
                                                <div id="faq-3-4" class="collapse" data-parent="#faq-3">
                                                    <div class="accordion-content">
                                                        <p>Once TBLC period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="clients-releted">
                                        <div class="accordion accordion-faq" id="faq-4">
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".1">
                                                <h5 class="accordion-title accordion-title-sm" data-toggle="collapse" data-target="#faq-4-1">How do I benefit from the TBLC Token?<span class="accordion-icon"></span></h5>
                                                <div id="faq-4-1" class="collapse show" data-parent="#faq-4">
                                                    <div class="accordion-content">
                                                        <p>Once TBLC period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".2">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-4-2">Pityful a rethoric question ran over her cheek?<span class="accordion-icon"></span></h5>
                                                <div id="faq-4-2" class="collapse" data-parent="#faq-4">
                                                    <div class="accordion-content">
                                                        <p>Once TBLC period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".3">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-4-3">Vokalia and Consonantia, there live?<span class="accordion-icon"></span></h5>
                                                <div id="faq-4-3" class="collapse" data-parent="#faq-4">
                                                    <div class="accordion-content">
                                                        <p>Once TBLC period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".4">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-4-4">Who do not know how to pursue rationally?<span class="accordion-icon"></span></h5>
                                                <div id="faq-4-4" class="collapse" data-parent="#faq-4">
                                                    <div class="accordion-content">
                                                        <p>Once TBLC period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>

            </section>
            <!-- // -->
            <section class="section section-m section-partners bg-light" id="partners">

                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block block-partners">
                        <h6 class="title title-xs tc-primary text-center animated" data-animate="fadeInUp" data-delay=".1">Our Partners</h6>
                        <ul class="partner-list flex-lg-nowrap">
                            <li class="partner-logo animated" data-animate="fadeInUp" data-delay=".2"><img src="images/partners/a.png" alt="partner"></li>
                            <li class="partner-logo animated" data-animate="fadeInUp" data-delay=".3"><img src="images/partners/b.png" alt="partner"></li>
                            <li class="partner-logo animated" data-animate="fadeInUp" data-delay=".4"><img src="images/partners/c.png" alt="partner"></li>
                            <li class="partner-logo animated" data-animate="fadeInUp" data-delay=".5"><img src="images/partners/d.png" alt="partner"></li>
                            <li class="partner-logo animated" data-animate="fadeInUp" data-delay=".6"><img src="images/partners/e.png" alt="partner"></li>
                            <li class="partner-logo animated" data-animate="fadeInUp" data-delay=".7"><img src="images/partners/f.png" alt="partner"></li>
                            <li class="partner-logo animated" data-animate="fadeInUp" data-delay=".8"><img src="images/partners/g.png" alt="partner"></li>
                        </ul>
                    </div>
                    <!-- Block @e -->
                </div>

            </section>
        </main>
    
		<footer class="nk-footer bg-theme-grad">
			<section class="section no-pdy section-contact bg-transparent" id="contact">
			
				<div class="container">
				    <!-- Block @s -->
					<div class="nk-block block-contact animated" data-animate="fadeInUp" data-delay=".9">
                        <div class="row justify-content-center no-gutters">
                            <div class="col-lg-6">
                                <div class="contact-wrap split split-left split-lg-left bg-white">
                                    <h5 class="title title-md">Contact Us</h5>
                                    <form class="nk-form-submit" action="form/contact.php" method="post">
                                        <div class="field-item">
                                            <input name="contact-name" type="text" class="input-line required">
                                            <label class="field-label field-label-line">Your Name</label>
                                        </div>
                                        <div class="field-item">
                                            <input name="contact-email" type="email" class="input-line required email">
                                            <label class="field-label field-label-line">Your Email</label>
                                        </div>
                                        <div class="field-item">
                                            <textarea name="contact-message" class="input-line input-textarea required"></textarea>
                                            <label class="field-label field-label-line">Your Message</label>
                                        </div>
                                        <input type="text" class="d-none" name="form-anti-honeypot" value="">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <button type="submit" class="btn btn-grad">Submit</button>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="form-results"></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-4">
                                <div class="contact-wrap split split-right split-lg-right bg-genitian bg-theme tc-light">
                                    <div class="d-flex flex-column justify-content-between h-100">
                                        <ul class="contact-list">
                                          
                                           
                                            <li>
                                                <em class="contact-icon fas fa-envelope"></em>
                                                <div class="contact-text">
                                                    <span>info@tblcexchange.com</span>
                                                </div>
                                            </li>
                                            <li>
                                                <em class="contact-icon fas fa-paper-plane"></em>
                                                <div class="contact-text">
                                                    <span>Join us on Telegram</span>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="contact-social">
                                            <h6>Be a part of our community</h6>
                                            <ul class="social-links">
                                                <li><a href="https://www.twitter.com/tblcexchange"><em class="fab fa-twitter"></em></a></li>
                                                <li><a href="https://medium.com/@tblcexchange"><em class="fab fa-medium-m"></em></a></li>
                                                <li><a href="https://facebook.com/tblcexchange"><em class="fab fa-facebook-f"></em></a></li>
                                                <li><a href="https://youtube.com/tblcexchange"><em class="fab fa-youtube"></em></a></li>
                                                <li><a href="https://t.me/tblcexchange"><em class="fab fa-telegram"></em></a></li>
                                                <li><a href="#"><em class="fab fa-github"></em></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
					</div><!-- .block @e -->
				</div>
				
				<div class="nk-ovm ovm-top ovm-h-60 bg-light"></div><!-- .nk-ovm -->
			</section>
			<!-- // -->
			<section class="section section-footer tc-light bg-transparent">
			
				<div class="container">
				    <!-- Block @s -->
					<div class="nk-block block-footer mgb-m30">
                        <div class="row">
                            <div class="col-lg-2 col-sm-4">
                                <div class="wgs wgs-menu animated" data-animate="fadeInUp" data-delay=".2">
                                    <h6 class="wgs-title">Company</h6>
                                    <div class="wgs-body">
                                        <ul class="wgs-links">
                                            <li><a href="#header">About TBLC </a></li>
                                        
                                            <li><a href="#contact">Contact Us</a></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-2 col-sm-4">
                                <div class="wgs wgs-menu animated" data-animate="fadeInUp" data-delay=".3">
                                    <h6 class="wgs-title">Legal</h6>
                                    <div class="wgs-body">
                                        <ul class="wgs-links">
                                            <li><a href="#">Terms &amp; Conditions</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                            <li><a href="tblc-paper.pdf">Whitepaper</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-2 col-sm-4">
                                <div class="wgs wgs-menu animated" data-animate="fadeInUp" data-delay=".4">
                                    <h6 class="wgs-title">Quick Links</h6>
                                    <div class="wgs-body">
                                        <ul class="wgs-links">
                                    
                                            <li><a href="#tokensale">Tokens</a></li>
                                            <li><a href="#roadmap">Roadmaps</a></li>
                                            <li><a href="#faq">FAQ's</a></li>
                                            <li><a href="#">Login</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-6 order-lg-first">
                                <div class="wgs wgs-text animated" data-animate="fadeInUp" data-delay=".1">
                                    <div class="wgs-body">
                                        <a href="./" class="wgs-logo">
                                            <img src="images/logo-full-white.png" srcset="images/logo-full-white2x.png 2x" alt="logo">
                                        </a>
                                        <p>Copyright  2021 TBLC Exchange <br> All rights reserved. </p>
                                      
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
					</div><!-- .block @e -->
				</div>
				
			</section>
			<div class="nk-ovm shape-b"></div>
		</footer>
	</div>
	
    <!-- Modal @s -->
	<div class="modal fade" id="login-popup">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"><em class="ti ti-close"></em></a>
                <div class="ath-container m-0">
                    <div class="ath-body">
                        <h5 class="ath-heading title">Sign in <small class="tc-default">with your TBLC Account</small></h5>
                        <form action="#">
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="text" class="input-bordered" placeholder="Your Email">
                                </div>
                            </div>
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="password" class="input-bordered" placeholder="Password">
                                </div>
                            </div>
                            <div class="field-item d-flex justify-content-between align-items-center">
                                <div class="field-item pb-0">
                                    <input class="input-checkbox" id="remember-me-100" type="checkbox">
                                    <label for="remember-me-100">Remember Me</label>
                                </div>
                                <div class="forget-link fz-6">
                                    <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#reset-popup">Forgot password?</a>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block btn-md">Sign In</button>
                        </form>
                        <div class="sap-text"><span>Or Sign In With</span></div>

                        <ul class="row gutter-20px gutter-vr-20px">
                            <li class="col"><a href="#" class="btn btn-md btn-facebook btn-block"><em class="icon fab fa-facebook-f"></em><span>Facebook</span></a></li>
                            <li class="col"><a href="#" class="btn btn-md btn-google btn-block"><em class="icon fab fa-google"></em><span>Google</span></a></li>
                        </ul>
                        <div class="ath-note text-center">
                            Dont have an account? <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#register-popup"> <strong>Sign up here</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .modal @e -->
	
    <!-- Modal @s -->
	<!-- <div class="modal fade" id="register-popup">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"><em class="ti ti-close"></em></a>
                <div class="ath-container m-0">
                    <div class="ath-body">
                        <h5 class="ath-heading title">Sign Up <small class="tc-default">Create New TBLC Account</small></h5>
                        <form action="#">
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="text" class="input-bordered" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="text" class="input-bordered" placeholder="Your Email">
                                </div>
                            </div>
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="password" class="input-bordered" placeholder="Password">
                                </div>
                            </div>
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="password" class="input-bordered" placeholder="Repeat Password">
                                </div>
                            </div>
                            <div class="field-item">
                                <input class="input-checkbox" id="agree-term-2" type="checkbox">
                                <label for="agree-term-2">I agree to Icos <a href="#">Privacy Policy</a> &amp; <a href="#">Terms</a>.</label>
                            </div>
                            <button class="btn btn-primary btn-block btn-md">Sign Up</button>
                        </form>
                        <div class="sap-text"><span>Or Sign Up With</span></div>

                        <ul class="btn-grp gutter-20px gutter-vr-20px">
                            <li class="col"><a href="#" class="btn btn-md btn-facebook btn-block"><em class="icon fab fa-facebook-f"></em><span>Facebook</span></a></li>
                            <li class="col"><a href="#" class="btn btn-md btn-google btn-block"><em class="icon fab fa-google"></em><span>Google</span></a></li>
                        </ul>
                        <div class="ath-note text-center">
                            Already have an account? <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#login-popup"> <strong>Sign in here</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>.modal @e -->
    <!-- Modal @s -->
	<!-- <div class="modal fade" id="reset-popup">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"><em class="ti ti-close"></em></a>
                <div class="ath-container m-0">
                    <div class="ath-body">
                        <h5 class="ath-heading title">Reset <small class="tc-default">with your Email</small></h5>
                        <form action="#">
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="text" class="input-bordered" placeholder="Your Email">
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block btn-md">Reset Password</button>
                            <div class="ath-note text-center">
                                Remembered? <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#login-popup"> <strong>Sign in here</strong></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>.modal @e -->
    
    
	<!-- preloader -->
	<div class="preloader preloader-alt no-split"><span class="spinner spinner-alt"><img class="spinner-brand" src="images/logo-full-white.png" alt=""></span></div>
	
	<!-- JavaScript -->
	<script src="assets/js/jquery.bundle.js?ver=192"></script>
	<script src="assets/js/scripts.js?ver=192"></script>
	<script src="assets/js/charts.js"></script>
</body>
</html>
