<%- include('header') -%>

<div class="main-content-wrapper medium-padding120">
    
    
    <section data-settings="particles-1" class="main-section crumina-flying-balls particles-js bg-1">
                <div class="container">
                    <div class="row align-center">
                        <div class="col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12">
                            <header class="crumina-module crumina-heading heading--h2 heading--with-decoration">

                    

                                <div class="heading-sup-title">Why Choose Defipower?</div>
                                
                                <div class="heading-text">Defipower is a new breakthrough project for the BNB community. It is a pioneer which opens the doors for the BNB users to grow their assets and do more with their BNB.</div>
                            </header>
                         
                        </div>
                    </div>
                </div>
            </section>
            <section>

                <div class="container bg-2">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="icon-demonstration text-left">
                                <svg class="woox-icon left">
                                    <use xlink:href="#icon-link"></use>
                                </svg>
    
                                <div class="heading-text f-size-20">Inbuilt pricing mechanism to control pricing.</div>
                                <p>The automated pricing algorithm of the open-source Defipower token will help asset owners to
                                    earn profit by publicizing the platform. The price increases as the demand of tokens
                                    increase.</p>
                            </div>
                        </div>
    
    
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="icon-demonstration text-left">
                                <svg class="woox-icon">
                                    <use xlink:href="#icon-padlock"></use>
                                </svg>
    
                                <div class="heading-text f-size-20">Be Safe and Secure!.</div>
                                <p>All these benefits come with no compromise on security. we deploy proven security
                                    standards matching the popular blockchain systems.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb30">
                            <div class="icon-demonstration text-left">
                                <svg class="woox-icon">
                                    <use xlink:href="#icon-resize"></use>
                                </svg>
    
                                <div class="heading-text f-size-20">Completely decentralized</div>
                                <p>Defipower source code is completely decentralized. Controlled by no-one, the BNB virtual
                                    machine is the proof of the algorithms that run behind.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb30">
                            <div class="icon-demonstration text-left">
                                <svg class="woox-icon">
                                    <use xlink:href="#icon-github"></use>
                                </svg>
    
                                <div class="heading-text f-size-20">Open source code base.</div>
                                <p>All source code of Defipower crypto platform is completely public on BNB blockchain. Anyone
                                    can see and verify what the platform claims to be. This is how the trustless nature of
                                    Defipower is creating trust!</p>
                            </div>
                        </div>
                    </div>
    
                </div>


            </section>
            
            
        </div>


<%- include('footer') -%>