<%- include('header') -%>

<div class="main-content-wrapper medium-padding120">
    
    
    <section data-settings="particles-1" class="main-section crumina-flying-balls particles-js bg-1">
                <div class="container">
                    <div class="row align-center">
                        <div class="col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12">
                            <header class="crumina-module crumina-heading heading--h2 heading--with-decoration">

                    

                                <div class="heading-sup-title">Why Choose TBLC?</div>
                                
                                <div class="heading-text">TBLC is a new breakthrough project for the BNB community. It is a pioneer which opens the doors for the BNB users to grow their assets and do more with their BNB.</div>
                            </header>
                         
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <header class="crumina-module crumina-heading heading--h4 heading--with-decoration pb80">
                                <h4 class="heading-title">A new era of BNB</h4>
                                <div class="heading-text">We are proud to be the pioneers to bringing up more use cases for BNB blockchain. TBLC is a simulation for decentralized exchange with price mechanisms pre-set in the smart contract.


                                </div>
                            </header>
                           
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <header class="crumina-module crumina-heading heading--h4 heading--with-decoration pb80">
                                <h4 class="heading-title">Buy and Sell Immediately through BNB wallets</h4>
                                <div class="heading-text">All the currently supported and upcoming wallet application brought up by BNB will be supported by TBLC platform as well. That ensures that your assets are completely secure and you and only you control your assets.


                                </div>
                            </header>
                           
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <header class="crumina-module crumina-heading heading--h4 heading--with-decoration ">
                                <h4 class="heading-title">Proven security</h4>
                                <div class="heading-text">You can trade & and buy TBLC tokens with any of the decentralized wallet systems supported by BNB blockchain and at the same time rest assured that the security infrastructure has been built on the industry standards and best practices.

                                </div>
                            </header>
                           
                        </div>
                        
                    </div>
                  
                </div>
            </section>
            
            
        </div>


<%- include('footer') -%>