<style>
    .footer_loog {
    width: 158px;
    margin: 0px auto;
}
.back-to-top {
    position: fixed;
    z-index: 1000;
    width: 82px;
    height: 82px;
   
    bottom: 0px;
    left: 96%;
   
}
.back-to-top:hover {
    bottom: -10px;
  
}
.top_b {
    border-top: 3px solid rgb(255, 214, 32);

}
</style>
        
        <footer id="site-footer" class="footer mt30 ">
        
            <canvas id="can"></canvas>
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-3  col-sm-12 col-xs-12">
                        <div class="align-center">
                            <a href="#" class="site-logo footer_loog">
                                <img src="asstes/img/main.png" alt="TBLC">
                               
                            </a>
                            <p>@Defipower.io</p>
                        </div>
                        
                    </div>
                    <div class="col-lg-4 col-md-4  col-sm-12 col-xs-12">
                        <div class="widget w-contacts pt55">
                            <h5>Stay connected</h5>
                            <ul class="socials socials--white">
                                <li class="social-item">
                                    <a href="https://mobile.twitter.com/">
                                        <i class="fab fa-twitter woox-icon"></i>
                                    </a>
                                </li>
                              
                                <li class="social-item">
                                    <a href="https://m.facebook.com/">
                                        <i class="fab fa-facebook-square woox-icon"></i>
                                    </a>
                                </li>
                                
                                <li class="social-item">
                                    <a href="https://medium.com/">
                                        <i class="fab fa-medium woox-icon"></i>
                                        <!-- <i class="fab fa-linkedin-in woox-icon"></i> -->
                                    </a>
                                </li>
                                <li class="social-item">
                                    <a href="https://t.me/">
                                        <i class="fab fa-telegram woox-icon"></i>
                                    </a>
                                </li>
                                <li class="social-item">
                                    <a href="https://www.instagram.com/">
                                        <i class="fab fa-instagram woox-icon"></i>
                                    </a>
                                </li>
                               
                                
                            </ul>
                        </div>
                        
                    </div>

                    <div class="col-lg-5 col-md-5  col-sm-12 col-xs-12">
                        <div class="widget w-info align-left mt30 pt40">
                           
                            <p>Defipower is going to support the upcoming wallets by BNB platform including the chrome extension and cross platform apps. Buying and selling of Defipower is possible from Defipower.io. It will support all upcoming wallets that BNB blockchain system is going to bring in the future..</p>
                        </div>
                        
                    </div>


                   
                </div>
            </div>
       
            <div class="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0 col-xs-12">
                            
                            <span>© All right reserved 2020. <a href="https://Defipower.io/">Defipower</a> </span>
                            
                           
                        </div>
                    </div>
                </div>
            </div>
          
            <a class="back-to-top" href="#">
                <svg class="woox-icon icon-top-arrow">
                <use xlink:href="#icon-top-arrow"></use>
                </svg>
            </a>
        </footer>
        <script src="asstes/js/method-assign.js"></script>

        <script src="asstes/js/jquery-3.3.1.js"></script>
        <script src="asstes/js/js-plugins/leaflet.js"></script>
        <script src="asstes/js/js-plugins/MarkerClusterGroup.js"></script>
        <script src="asstes/js/js-plugins/crum-mega-menu.js"></script>
        <script src="asstes/js/js-plugins/waypoints.js"></script>
        <script src="asstes/js/js-plugins/jquery-circle-progress.js"></script>
        <script src="asstes/js/js-plugins/segment.js"></script>
        <script src="asstes/js/js-plugins/bootstrap.js"></script>
        <script src="asstes/js/js-plugins/imagesLoaded.js"></script>
        <script src="asstes/js/js-plugins/jquery.matchHeight.js"></script>
        <script src="asstes/js/js-plugins/jquery-countTo.js"></script>
        <script src="asstes/js/js-plugins/Headroom.js"></script>
        <script src="asstes/js/js-plugins/jquery.magnific-popup.js"></script>
        <script src="asstes/js/js-plugins/popper.min.js"></script>
        <script src="asstes/js/js-plugins/particles.js"></script>
        <script src="asstes/js/js-plugins/perfect-scrollbar.js"></script>
        <script src="asstes/js/js-plugins/jquery.datetimepicker.full.js"></script>
        <script src="asstes/js/js-plugins/svgxuse.js"></script>
        <script src="asstes/js/js-plugins/select2.js"></script>
        <script src="asstes/js/js-plugins/smooth-scroll.js"></script>
        <script src="asstes/js/js-plugins/sharer.js"></script>
        <script src="asstes/js/js-plugins/isotope.pkgd.min.js"></script>
        <script src="asstes/js/js-plugins/ajax-pagination.js"></script>
        <script src="asstes/js/js-plugins/swiper.min.js"></script>
        <script src="asstes/js/js-plugins/material.min.js"></script>
        <script src="asstes/js/js-plugins/orbitlist.js"></script>
        <script src="asstes/js/js-plugins/highstock.js"></script>
        <script src="asstes/js/js-plugins/bootstrap-datepicker.js"></script>
        <script src="asstes/js/js-plugins/TimeCircles.js"></script>
        <script src="asstes/js/js-plugins/ion.rangeSlider.js"></script>

        <script defer src="asstes/fonts/fontawesome-all.js"></script>
        <script src="asstes/js/main.js"></script>

        <script src="asstes/js/svg-loader.js"></script>

    </body>
</html>