<!DOCTYPE html>
<html lang="en">
    <head>


        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>TBLC</title>
        <link rel="stylesheet" type="text/css" href="asstes/css/plugins.css">
        <link rel="stylesheet" type="text/css" href="asstes/css/theme-styles.css">
        <link rel="stylesheet" type="text/css" href="asstes/css/blocks.css">
        <link rel="stylesheet" type="text/css" href="asstes/css/widgets.css">
        <link rel="stylesheet" type="text/css" href="asstes/css/font-awesome.css">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700i,900," rel="stylesheet">
        <style>
            a.site-logo {
                font-size: 25px;
                color: #fff;
            }
            .f-size-20 {
                font-size: 23px;
                color: #ffb500;
                text-transform: uppercase;
            }
            .login_btn {
                padding: 14px 25px 14px 30px;
                border: 2px solid #a1abbd;
                background-color: transparent;
                font-size: 14px;
                -webkit-transition: none;
                transition: none;
                width: auto;
                border-radius: 35px;
                min-width: 150px;
                text-align: center;
            }
        </style>

    </head>
    <body class="crumina-grid">
        <header class="header" id="site-header">



            <div class="container">
                <div class="header-content-wrapper">
                    <a href="#" class="site-logo">
                        <img src="asstes/img/logo-primary.png" alt="">
                        TBLC
                    </a>
                    <nav id="primary-menu" class="primary-menu">

                        <a href='javascript:void(0)' id="menu-icon-trigger" class="menu-icon-trigger showhide">
                            <span class="mob-menu--title">Menu</span>
                            <span id="menu-icon-wrapper" class="menu-icon-wrapper">
                                <svg width="1000px" height="1000px">
                                <path id="pathD" d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800"></path>
                                <path id="pathE" d="M 300 500 L 700 500"></path>
                                <path id="pathF" d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200"></path>
                                </svg>
                            </span>
                        </a>
                        <ul class="primary-menu-menu">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="about">About us</a>

                            </li>
                          
                            <li class="menu-item-has-children">
                                <a href="features">Why Choose TBLC?</a>


                            </li>

                            <li class="">

                                <a href="pdf/">Whitepaper</a>
                            </li>
                            <li class="">
                                <a href="contact">Contact</a>
                            </li>
                          
                            <!-- <li class="">
                                <a href="register">Register</a>
                            </li> -->

                        </ul>
                    </nav>
                    
                    <a class="login_btn" href="login">Login</a>

                </div>
            </div>
        </header>