<%- include('header'); -%>
<style>
    .f-size-50{
        font-size: 54px;
        margin-top: 20px;
    }
</style>
<div class="main-content-wrapper">
    <section data-settings="particles-1" class="main-section crumina-flying-balls particles-js bg-1 medium-padding120 responsive-align-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                    <img class="responsive-width-50" src="asstes/img/main.png" alt="image">
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <header class="crumina-module  heading--h1 heading--with-decoration pt100">


                        <h1 class="heading-title f-size-50 weight-normal no-margin">First token on Binance Smart Chain that
                            <span class="weight-bold">Simulates a </span></h1>
                        <h6 class="c-primary">decentralized exchange</h6>
                    </header>
                    <a data-scroll href="#details" class="btn btn--large btn--transparent btn--secondary">Details</a>
                </div>
            </div>
        </div>
    </section>
    
    <section class="medium-padding120 responsive-align-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <header class="crumina-module crumina-heading heading--h2 heading--with-decoration pt80">
                        <div class="heading-sup-title">About TBLC Coin</div>

                        <div class="heading-text">Price of TBLC grows with a certain mathematical computation algorithm which is fully decentralized and is integrated on the blockchain. Once deployed on the blockchain the pricing mechanism is controlled automatically by the BNB virtual Machine
                        </div>
                    </header>
                    <p>Users can buy and sell their TBLC on the tblcexchange.com a system designed to expedite and simplify the process of trading TBLC digital assets.
                    </p>

                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt30">
                    <img class="responsive-width-50" src="asstes/img/phone.png" alt="phone">
                </div>
            </div>
        </div>
    </section>
    <section class="bg-dotted-map">
        <div class="container">
            <div class="row  align-center mb30">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <img class="primary-dots mb30" src="asstes/img/dots.png" alt="dots">
                    <header class="crumina-module crumina-heading heading--h2 heading--with-decoration">
                        <h2 class="heading-title weight-normal">Key features of TBLC</h2>
                        <div class="heading-text">Fully decentralized asset on top of BNB blockchain</div>
                    </header>
                </div>
            </div>
        </div>
    </section>
<section>
        <div class="container">
            <div class="row medium-padding80">
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="crumina-module crumina-info-box info-box--style2">
                        <!-- <div class="info-box-thumb">
                            <svg class="woox-icon" data-name="Layer 1" viewBox="0 0 26.97 35.33">
                            <path d="M14.05 35.33l-3.92-.98 1.2-4.84-1.38-.35L8.75 34l-3.93-.97 1.22-4.92-5.47-1.38L0 26.6l1.87-4.32.42.1c.64.18 1.35.36 1.75.46l.38.08a.99.99 0 0 0 .23.03c.1 0 .37 0 .54-.43L8.5 9.27c.03-.55-.29-.93-1-1.1l-.34-.1-1.8-.44-.5-.11 1.02-4.14.49.12 5.47 1.36L13.05 0l3.92.98-1.19 4.75c.47.1.94.21 1.4.33l1.18-4.73 3.93.98-1.22 4.9c2.93 1.06 6.45 2.97 5.82 7.19a5.24 5.24 0 0 1-3.07 4.4c2.45 1.67 3.1 4.03 1.99 7.2-1.13 3.24-3.37 4.75-7.04 4.75a20.42 20.42 0 0 1-3.49-.35zm-2.7-1.7l1.98.49 1.21-4.88.47.1a20.58 20.58 0 0 0 3.77.4c3.22 0 5.1-1.25 6.09-4.07 1.08-3.09.31-5.1-2.48-6.56l-1.2-.63 1.32-.3a4.22 4.22 0 0 0 3.4-3.93c.42-2.85-1.3-4.77-5.6-6.25l-.43-.15 1.2-4.82-1.99-.49-1.18 4.73-.48-.12c-.77-.2-1.57-.38-2.36-.56l-.5-.11 1.2-4.77-2-.5-1.2 4.85-.48-.11-5.48-1.36-.54 2.18c.9.2 1.4.32 1.66.42a2.08 2.08 0 0 1 1.75 2.23l-3.33 13.4a1.57 1.57 0 0 1-1.9 1.08c-.12-.01-.46-.08-1.8-.44L1.38 25.9l5.38 1.36.48.13-1.22 4.9 1.98.5 1.22-4.87.49.13c.8.22 1.58.42 2.35.61l.48.13zM16 26.45a20.76 20.76 0 0 1-5.02-.85l-1.05-.27 1.87-7.47.48.12.72.16c2.06.46 5.51 1.24 6.77 3.28a3.13 3.13 0 0 1 .35 2.48c-.29 1.17-1.24 2.55-4.12 2.55zm-4.86-1.84l.1.02a19.97 19.97 0 0 0 4.76.82c1.82 0 2.85-.58 3.15-1.79a2.13 2.13 0 0 0-.23-1.72c-1.04-1.68-4.36-2.42-6.14-2.82l-.25-.06zm6.18-7.82a16.35 16.35 0 0 1-4.06-.7l-.96-.24L14 8.98l.5.13.6.13c1.68.38 4.51 1 5.6 2.77a2.99 2.99 0 0 1 .33 2.38c-.27 1.1-1.14 2.4-3.7 2.4zm-3.81-1.66h.01a15.57 15.57 0 0 0 3.8.65c2.09 0 2.57-.94 2.74-1.65a2 2 0 0 0-.2-1.6c-.87-1.4-3.54-2-4.98-2.32l-.14-.03z" data-name="Bitcoin BTC"></path>
                            </svg>
                        </div> -->
                        <div class="info-box-content">
                            <h5 class="info-box-title">Fully decentralized asset on top of BNB  blockchain</h5>
                            <p class="info-box-text">TBLC is proud to announce the platform as the first crypto asset that is deployed on BNB  blockchain that simulates decentralized exchange.

</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mb30">
                    <div class="crumina-module crumina-info-box info-box--style2">
                        <!-- <div class="info-box-thumb">
                            <svg class="woox-icon" data-name="Layer 1" viewBox="0 0 22.62 36.84">
                            <g data-name="Ethereum ETH">
                            <path d="M32 15.52L41.93 32 32 37.86 22.07 32 32 15.52zm0-1.94L20.69 32.34 32 39.02l11.3-6.68L32 13.58z" class="cls-1" transform="translate(-20.69 -13.58)"></path>
                            <path d="M32 28.67l9.09 3.82L32 37.86l-9.09-5.37L32 28.67zm0-1.09l-11.31 4.76L32 39.02l11.3-6.68L32 27.58z" class="cls-1" transform="translate(-20.69 -13.58)"></path>
                            <path d="M39.78 37.73L32 48.7l-7.78-10.96 7.27 4.3.5.3.52-.3 7.27-4.3zm3.53-3.24L32 41.16 20.7 34.5 32 50.41l11.31-15.94z" class="cls-1" transform="translate(-20.69 -13.58)"></path>
                            <path d="M10.81 1.88h1v22.79h-1zM10.81 27.75h1v7.87h-1z" class="cls-1"></path>
                            </g>
                            </svg>
                        </div> -->
                        <div class="info-box-content">
                            <h5 class="info-box-title">Buy and sell TBLC immediately with BNB </h5>
                            <p class="info-box-text">World's first Asset that can be traded with BNB  immediately.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mb30">
                    <div class="crumina-module crumina-info-box info-box--style2">
                        <!-- <div class="info-box-thumb">
                            <svg class="woox-icon" data-name="Layer 1" viewBox="0 0 32.69 20">
                            <g data-name="Dash DASH">
                            <path d="M38.42 42H16.27l1.84-6h19.37l2.72-8H20.86l1.84-6h21.73a4.34 4.34 0 0 1 1.87.53 2.84 2.84 0 0 1 1.4 1.38 3.9 3.9 0 0 1 .52 1.73 3.73 3.73 0 0 1-.28 2.1l-2.82 8.87a10.88 10.88 0 0 1-1 1.9 9.85 9.85 0 0 1-1.64 1.69 13.19 13.19 0 0 1-1.94 1.27l-.2.08a5.6 5.6 0 0 1-1.92.45zm-20.8-1h20.8a4.78 4.78 0 0 0 1.57-.4l.13-.05a12.63 12.63 0 0 0 1.73-1.14 8.86 8.86 0 0 0 1.45-1.48 10.09 10.09 0 0 0 .87-1.66L47 27.4a2.92 2.92 0 0 0 .22-1.64 3.05 3.05 0 0 0-.4-1.37 1.94 1.94 0 0 0-.92-.94 3.55 3.55 0 0 0-1.47-.44h-21l-1.22 4h19.38L38.2 37H18.85z" class="cls-1" transform="translate(-15.57 -22)"></path>
                            <path d="M28.13 35H15.57l1.83-6h12.43zm-11.21-1h10.45l1.13-4H18.16z" class="cls-1" transform="translate(-15.57 -22)"></path>
                            </g>
                            </svg>
                        </div> -->
                        <div class="info-box-content">
                            <h5 class="info-box-title">Completely Anonymous and decentralized</h5>
                            <p class="info-box-text">No-one even TBLC owners does not have any control over BNB .</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </section>
    <section class="medium-padding120 responsive-align-center">
        <div class="container">
            <div class="row bg-2">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb30">
                    <header class="crumina-module crumina-heading heading--h2 heading--with-decoration">
                        <img class="primary-dots mb30" src="asstes/img/dots.png" alt="dots">
                        <h2 class="heading-title weight-normal">How TBLC revolutionize the BNB  platforms.
                        </h2>
                        <p>TBLC opens up a new horizon for BNB  users to work and deploy decentralized applications on the top of BNB  blockchain.</p>

                    </header>
                    <div class="heading-text f-size-20">Inbuilt pricing mechanism to control pricing.</div>
                    <p>The automated pricing algorithm of the open-source TBLC token will help asset owners to earn profit by publicizing the platform. The price increases as the demand of tokens increase.</p>
                    <hr>
                    <div class="heading-text f-size-20">Be Safe and Secure!.</div>
                    <p>All these benefits come with no compromise on security. we deploy proven security standards matching the popular blockchain systems.</p>
                    <hr>
                    <div class="heading-text f-size-20">Completely decentralized</div>
                    <p>TBLC source code is completely decentralized. Controlled by no-one, the BNB  virtual machine is the proof of the algorithms that run behind.</p>

                    <hr>
                    <div class="heading-text f-size-20">Open source code base.</div>
                    <p>All source code of TBLC crypto platform is completely public on BNB  blockchain. Anyone can see and verify what the platform claims to be. This is how the trustless nature of TBLC is creating trust!</p>

                </div>

            </div>
        </div>
    </section>
</div>


<section class="">
    <div class="container">
        <div class="row pb60">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <article class="hentry post post-standard has-post-thumbnail video">
                    <div class="row">
                        
                        <div class="col-lg-5">
                            <div class="post-thumb">
                                <img src="asstes/img/post3.jpg" alt="post">
                                <div class="overlay overlay-blog"></div>
                                <a href="https://www.youtube.com/watch?v=SSo_EIwHSd4" class="video-control video-control-youtube js-popup-iframe">
                                <svg class="svg-inline--fa fa-play fa-w-14 woox-icon" aria-hidden="true" data-prefix="fas" data-icon="play" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"></path></svg><!-- <i class="woox-icon fas fa-play"></i> -->
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="post__content">
                                <a href="#" class="h3 post__title entry-title">TBLC is the first decentralized asset on top of BNB  blockchain.</a>
                                <p class="post__text">Price of TBLC grows with a certain mathematical computation algorithm which is fully decentralized and is integrated on the blockchain. Once deployed on the blockchain the pricing mechanism is controlled automatically by the BNB  virtual Machine</p>
                                
                            </div>
                        </div>
                    </div>
                </article>
                
        </div>
        </div>
   
    </div>
</section>
<section class="medium">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <header class="crumina-module crumina-heading heading--h3 heading--with-decoration">
                    <h3 class="heading-title">Read the White paper</h3>
                    <div class="heading-text"> Download TBLC whitepaper to read in detail about the TBLC coin, its use cases and how it transforms the BNB  eco-system by opening up new horizons for BNB  users by deploying a smart contract on top of BNB  blockchain.

                    </div>
                </header>


            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="widget w--help bg-help">
                    <h3 class="title">Read the  <span class="weight-bold">Whitepaper</span></h3>
                    <p class="text">
                    </p>
                    <a href="./Whitepaper.pdf" class="btn btn--large btn--secondary btn--with-icon btn--icon-left">

                        Download White paper
                    </a>
                </div>


            </div>
        </div>
    </div>
</section>


<%- include('footer'); -%>
