<%- include('header'); -%>
    <style>
        .f-size-50 {
            font-size: 54px;
            margin-top: 20px;
        }

        .info-box--style2 {
            text-align: left;
            padding-left: 40px;
            background: #000;
            text-align: center;
            padding: 0px 11px;
            border: 2px solid #ffba00;
            height: 235px;
        }

        .info-box--style4 {
            border: 4px solid transparent;
            border-radius: 20px;
            padding: 25px;
            height: 276px !important;
            background-color: #2a2e37;
        }

        .icon-demonstration {

            background-color: rgb(56 53 45 / 0%);
            margin-bottom: 0px;
            padding-bottom: 0px;

        }

        img.vert-move {
            -webkit-animation: mover 1s infinite alternate;
            animation: mover 1s infinite alternate;
        }

        img.vert-move {
            -webkit-animation: mover 1s infinite alternate;
            animation: mover 1s infinite alternate;
        }

        @-webkit-keyframes mover {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(-20px);
            }
        }

        @keyframes mover {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(-20px);
            }
        }

        .text-left {
            text-align: left !important;
        }

        .pt40 {
            margin-top: 50px;
        }

        .text-center {
            text-align: center;
        }

        @media only screen and (max-width: 600px) {
            .info-box--style2 {


                padding: 25px 11px;
            }

            .login-form {
                padding: 52px 10px;
                border-radius: 20px;
                text-align: center;
            }

            .mer_b {
                margin-bottom: 31px;
            }

        }

        .login-form {
            padding: 52px 120px;
            border-radius: 20px;
            text-align: center;
        }
    </style>
    <div class="main-content-wrapper">
        <section data-settings="particles-1"
            class="main-section crumina-flying-balls particles-js responsive-align-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                        <img class="responsive-width-100 vert-move" src="asstes/img/main.png" alt="image">
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                        <header class="crumina-module  heading--h1 heading--with-decoration pt80">


                            <h1 class="heading-title f-size-50 weight-normal no-margin">Powering Data for the new
                                <span class="weight-bold">Equity blockchain</span>
                            </h1>
                            <h6 class="c-primary">Global decentralize network and gaming platform</h6>
                        </header>
                        <br />
                        <a data-scroll href="#details" class="btn btn--large btn--primary">Details</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="">
            <div class="container">
                <div class="row pb60">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <article class="hentry post post-standard has-post-thumbnail video">
                            <div class="row">


                                <div class="col-lg-7">
                                    <div class="post__content">
                                        <a href="#" class="h3 post__title entry-title">HOW DOES DEFIPOWER SMART CHAIN
                                            WORKS?</a>
                                        <p>Defipower Smart Chain is stay on mainnet, activating the parallel blockchain
                                            to Binance Chain that will allow the advent of clever contracts and the
                                            staking mechanism for BNB. Any involved humans and/or groups can collect BNB
                                            stakes to come to be a validator of this new blockchain.
                                        </p>
                                        <p class="heading-text ">Defipower Smart Chain is perhaps the most popular
                                            designs in the undertaking of late and is a blockchain stage created via
                                            Binance to expand the Defipower environment with the guide of finding
                                            promising errands through Smart Contracts. With Binance Smart Chain's
                                            dispatch period, DeFi business endeavor undertakings and the bigger
                                            blockchain neighborhood can use the fabulous that Defipower Chain needs to
                                            give, gotten with the guide of cunning agreement support, cross-chain
                                            capacity, and additional benefits that Defipower Smart Chain brings.
                                        </p>
                                    </div>
                                    <div class="btn-market-wrap ">
                                        <a href="#" class="btn btn--market btn--apple btn--with-icon btn--icon-left">
                                            <div class="text">
                                                <span class="title">Whitepaper</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-5">
                                    <div class="post-thumb">
                                        <img src="asstes/img/post3.jpg" alt="post">
                                        <div class="overlay overlay-blog"></div>
                                        <a href="https://www.youtube.com/watch?v=SSo_EIwHSd4"
                                            class="video-control video-control-youtube js-popup-iframe">
                                            <svg class="svg-inline--fa fa-play fa-w-14 woox-icon" aria-hidden="true"
                                                data-prefix="fas" data-icon="play" role="img"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                                data-fa-i2svg="">
                                                <path fill="currentColor"
                                                    d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z">
                                                </path>
                                            </svg><!-- <i class="woox-icon fas fa-play"></i> -->
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>




                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <article class="hentry post post-standard">
                                <div class="row">


                                    <div class="col-lg-5">
                                        <div class="post-thumb">
                                            <img src="asstes/img/post3.png" alt="post">

                                        </div>
                                    </div>

                                    <div class="col-lg-7">
                                        <div class="post__content">
                                            <a href="#" class="h3 post__title entry-title">We’ve built a platform
                                                to buy and sell shares.</a>
                                            <p>Defipower is a platform for the future of funding that powering dat for
                                                the new equity blockchain</p>
                                            <p class="heading-text "></p>
                                            <p>At the end, Our aims to integrate all companies, employees, and business
                                                assets into a unified blockchain ecosystem, which will make business
                                                truly efficient, transparent, and reliable.</p>
                                        </div>
                                        <div class="btn-market-wrap ">
                                            <a href="#"
                                                class="btn btn--market btn--apple btn--with-icon btn--icon-left">


                                                <div class="text">

                                                    <span class="title">Join Now</span>
                                                </div>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </article>

                        </div>



                    </div>
                </div>
        </section>
        <section class="bg-dotted-map">
            <div class="container">
                <div class="row  align-center mb30">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <!-- <img class="primary-dots mb30" src="asstes/img/dots.png" alt="dots"> -->
                        <header class="crumina-module crumina-heading heading--h2 heading--with-decoration">
                            <h2 class="heading-title weight-normal"> Advantages of Defipower</h2>
                            <div class="heading-text">During the Decentralized Finance revolution, as the neighborhood
                                suggests a developing pastime in choice monetary options supplied by means of
                                blockchain, the well timed presence of BSC has received extensive interest from the
                                Binance Chain community. Now, DeFi initiatives and the blockchain neighborhood can take
                                gain of the very pleasant supplied by using Binance Chain, powered via clever contracts,
                                cross-chain interoperability, and extra thanks to the launch of BSC. The Binance Chain
                                and Smart Chain communities welcome all builders and dApp initiatives to take a look at
                                this step forward arena.
                            </div>
                        </header>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row medium-padding80">
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mer_b">
                        <div class="crumina-module crumina-info-box info-box--style4">

                            <div class="info-box-content col-12">
                                <h5 class="info-box-title">Fully decentralized asset on top of blockchain</h5>
                                <p class="info-box-text">A rich and growing digital asset ecosystem powered by Binance
                                    DEX, the leading decentralized exchange

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mb30">
                        <div class="crumina-module crumina-info-box info-box--style4">

                            <div class="info-box-content">
                                <h5 class="info-box-title">Buy and sell immediately </h5>
                                <p class="info-box-text"> High performance with a network capable of producing a block
                                    every 3 seconds.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mb30">
                        <div class="crumina-module crumina-info-box info-box--style4">

                            <div class="info-box-content">
                                <h5 class="info-box-title">Completely Anonymous and decentralized</h5>
                                <p class="info-box-text">A developing ecosystem of thousands and thousands of customers
                                    throughout Binance.com and Binance DEX</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section class=" responsive-align-center">

            <div class="container">
                <header class="crumina-module crumina-heading heading--h2 heading--with-decoration align-center">
                    <img class="primary-dots mt30" src="asstes/img/dots.png" alt="dots">
                    <h2 class="heading-title weight-normal">Features of Defipower Smart Chain
                    </h2>
                    <p>TBLC opens up a new horizon for BNB users to work and deploy decentralized applications on the
                        top of BNB blockchain.</p>

                </header>
                <div class="nk-block nk-block-features mgb-m30">
            <div class="row">
                <div class="col-lg-4">
                    <div class="feature animated fadeInUp" data-animate="fadeInUp" data-delay=".7" style="visibility: visible; animation-delay: 0.7s;">
                        <div class="feature-icon dot">
                            <em class="icon ikon ikon-paricle-alt"></em>
                        </div>
                        <div class="feature-text">
                            <h5 class="title title-sm">Performance</h5>
                            <p>High-Performance Business Platform Create / Unlock Wallet
                                Lower Transaction Fees with High-Performance Business Platform</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feature animated fadeInUp" data-animate="fadeInUp" data-delay=".8" style="visibility: visible; animation-delay: 0.8s;">
                        <div class="feature-icon dot">
                            <em class="icon ikon ikon-donught"></em>
                        </div>
                        <div class="feature-text">
                            <h5 class="title title-sm">Transactions</h5>
                            <p>
                                we do Accelerated Transactions with trustworthiness and Cross-Chain Asset Transfer with high transparency and imutaility</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feature animated fadeInUp" data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                        <div class="feature-icon dot">
                            <em class="icon ikon ikon-document"></em>
                        </div>
                        <div class="feature-text">
                            <h5 class="title title-sm">Token</h5>
                            <p>
                                BNB Staking Compatibility With (EVM) Ethereum Virtual Machine and also provide BNB stacking.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            </div>

            <!-- <div class="main-content-wrapper">
                <section>
                      <div class="container">
                         <div class="row">
                              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                  <ul class="list list--primary">
                                      <li>
                                          <svg class="woox-icon icon-check-mark-2">
                                              <use xlink:href="#icon-check-mark-2"></use>
                                          </svg>
                                          <a href="#"><strong>Investigationes lectores legere</strong></a>
                                      </li>
                                      <li>
                                          <svg class="woox-icon icon-check-mark-2">
                                              <use xlink:href="#icon-check-mark-2"></use>
                                          </svg>
                                          <a href="#"><strong>Claritas est etiam processus dynamicus</strong></a>
                                      </li>
                                      <li>
                                          <svg class="woox-icon icon-check-mark-2">
                                              <use xlink:href="#icon-check-mark-2"></use>
                                          </svg>
                                          <a href="#"><strong>Quam nunc putamus parum claram</strong></a>
                                      </li>
                                  </ul>
                              </div>
                              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                  
                              </div>
                              
                          </div>
                      </div>
                  </section>
              </div> -->


            
    </div>
    </section>


    <div class="container">
        <div class="row">

            <header class="crumina-module crumina-heading heading--h2 heading--with-decoration align-center">
                <img class="primary-dots mt30" src="asstes/img/dots.png" alt="dots">
                <h2 class="heading-title weight-normal">Roadmap of Defipower</h2>

            </header>
         </div>
         </div>


                <!-- partial -->

                <div class="road-map">
                    <div class="road-map-content">
                        <div class="timeline timeline--horizontal timeline--loaded" style="opacity: 1;">
                            <div class="timeline__wrap cont container">
                                <div class="timeline__items"
                                    style="width:1920px; height:383px; transform: translate3d(-625px, 0px, 0px); overflow-x:auto;" id="style-4">
                                    <div class="timeline__item timeline__item--top"
                                        style="width: 312.25px; height: 163px;">
                                        <div class="timeline__item__inner">
                                            <div class="timeline__content__wrap">
                                                <div class="timeline__content">
                                                    <h6>17  Dec, 2020</h6>
                                                    <h4>Development of DeFi Platform for Defipower</h4>
                                                    <p>TBLC is going to bring a new DeFi system where users will be able
                                                        to lend their crypto assets and earn reward on it.

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline__item timeline__item--bottom"
                                        style="width: 312.25px; height: 163px; transform: translateY(163px);">
                                        <div class="timeline__item__inner">
                                            <div class="timeline__content__wrap">
                                                <div class="timeline__content">
                                                    <h6>Dec, 2021</h6>
                                                    <h4>Q1 2021 Public Token Sale Begins
                                                    </h4>
                                                    <p>Public Defipower launch and crowd-sale 
                                                        Starts
                                                         1st Quarter of 2021 &
                                                        Token distribution will commence - 2nd March. .

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline__item timeline__item--top"
                                        style="width: 312.25px; height: 163px;">
                                        <div class="timeline__item__inner">
                                            <div class="timeline__content__wrap">
                                                <div class="timeline__content">
                                                    <h6>Jan, 2021</h6>
                                                    <h4>Q2 2021 Decentralized Exchange User Testing
                                                    </h4>
                                                    <p>Release of decentralized exchange platform for beta testing for
                                                        BNB/Defipower community members .

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="timeline__item timeline__item--bottom"
                                        style="width: 312.25px; height: 163px; transform: translateY(163px);">
                                        <div class="timeline__item__inner">
                                            <div class="timeline__content__wrap">
                                                <div class="timeline__content">
                                                    <h6>Mar, 2021</h6>
                                                    <h4>Q1 2021 Public Token Sale Begins
                                                    </h4>
                                                    <p>Public Defipower launch and crowd-sale starts - 1st Quarter of 2021 &
                                                        Token distribution will commence - 2nd March. .

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="timeline__item timeline__item--top"
                                        style="width: 312.25px; height: 163px;">
                                        <div class="timeline__item__inner">
                                            <div class="timeline__content__wrap">
                                                <div class="timeline__content">
                                                    <h6>April, 2020</h6>
                                                    <h4>Q3 & Q4 2020 Website and Whitepaper</h4>
                                                    <p>MVP of wallet prototype released Pre-Sale of Defipower Starts Redesign
                                                        of website goes live Version 2 of Whitepaper will be released
                                                        Version 3 of Onepager will be released</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline__item timeline__item--bottom"
                                        style="width: 312.25px; height: 163px; transform: translateY(163px);">
                                        <div class="timeline__item__inner">
                                            <div class="timeline__content__wrap">
                                                <div class="timeline__content">
                                                    <h6>25 Feb, 2021</h6>
                                                    <h4>Q1 2021 Public Token Sale Begins</h4>
                                                    <p>Public Defipower launch and crowd-sale starts - 1st Quarter of 2021 &
                                                        Token distribution will commence - 2nd March.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline__item timeline__item--top"
                                        style="width: 312.25px; height: 163px;">
                                        <div class="timeline__item__inner">
                                            <div class="timeline__content__wrap">
                                                <div class="timeline__content">
                                                    <h6>18 Aug, 2021</h6>
                                                    <h4>Q2 2021 Decentralized Exchange User Testing
                                                    </h4>
                                                    <p>Release of decentralized exchange platform for beta testing for
                                                        BNB/Defipower community members .

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline__item timeline__item--bottom"
                                        style="width: 312.25px; height: 163px; transform: translateY(163px);">
                                        <div class="timeline__item__inner">
                                            <div class="timeline__content__wrap">
                                                <div class="timeline__content">
                                                    <h6>18 Dec, 2021</h6>
                                                    <h4>Defipower</h4>
                                                    <p>Comming soon</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="timeline-nav-button timeline-nav-button--prev"
                                style="top: 182px;">Previous</button><button
                                class="timeline-nav-button timeline-nav-button--next"
                                style="top: 183px;">Next</button><span class="timeline-divider"
                                style="top: 182px;"></span>
                        </div>
                    </div>
                </div>
                <!-- partial -->



            </div>
        </div>
    </div>
</div>

    
    </div>
    <style>
        li.timeline-item h4 {
            font-size: 19px;
            color: #febc17 !important;
        }

        #style-4::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #423d3d00;
        }

        #style-4::-webkit-scrollbar {
            width: 10px;
            background-color: #F5F5F5;
            height: 5px;
        }

        #style-4::-webkit-scrollbar-thumb {
            background-color: #423d3d00;
            border: 1px solid #423d3d00;
        }

    </style>

    <%- include('footer'); -%>