<%- include('header') -%>
<section>
    <div class="container">
        <div class="row pt80  mx-auto mt30">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mb30"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb30 mt30">
                <form class="login-form form--dark" method="post" action="#">
                    <header class="crumina-module heading--h2 heading--with-decoration">
                        <h2 class="heading-title">Login</h2>
                    </header>
                   
                    <label for="text" class="input-label">Sponsor <abbr class="required" title="required">*</abbr></label>
                    <div class="input-with-icon input-icon--right">
                        <input class="input--dark input--squared" id='password3' name="sponsor" placeholder="" type="sponsor" value="">
                        <svg class="woox-icon icon-padlock"><use xlink:href="#icon-padlock"></use></svg>
                    </div>
                    <br>
                  
                    <button class="btn btn--large btn--primary btn--with-icon btn--icon-right full-width">
                        Login
                        <svg class="woox-icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg>
                    </button>
                   
                </form>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mb30"></div>
        </div>
    </div>
</section>





<%- include('footer') -%>